pandas>=0.24.0
numpy>=1.16.5
requests>=2.26
multitasking>=0.0.7
lxml>=4.5.1
yfinance>=0.1.72
Cython>=0.22
cmdstanpy>=0.9.5
pystan>=2.18.0.0
matplotlib>=2.0.0
LunarCalendar>=0.0.9
convertdate>=2.1.2
holidays>=0.14.2
setuptools>=42
setuptools-git>=1.2
python-dateutil>=2.8.0
tqdm>=4.36.1
wheel>=0.37.0
fbprophet>=0.7.1

